@page "/"

<h1>Welcome to Spotify and Youtube client.</h1>

<hr />

SpotifyApi Access Token ::
<br />
@Program.SpotifyAccessToken?.access_token

<hr />

GoogleApis Youtube Accesss Token ::
<br />
@Program.GoogleApisYoutubeAccessToken?.access_token

<hr />

@code {

}